body {
	background-color:#777;
	color: rgba(173, 166, 166, 1);
}

.container {
	margin: 0 auto;
	width: 960px;
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
	font-size: 18px;
}

header,nav, footer {
	padding: 25px;
	text-align: center;
	background-color: #ebebeb;
	margin-bottom: 10px;
}

#section {
	width: 495px;
	float: left;
	background-color: #ebebeb;
	text-align: center;
	position: relative;
	margin-bottom: 10px;
	height: 250px;
	padding-top: 35px;
}

#article {
	position: absolute;
	padding: 10px;
	bottom: 10px;
	left: 15px;
	width: 90%;
	background: #777;
	height: 175px;
}

ul {
	list-style-type: none;
	padding: 10px;
	width: 90%;
	margin-left: 15px;
}

li {
	margin-bottom: 10px;
	background-color: #ebebeb;
	padding: 10px;
}

aside {
	background: #ebebeb;
	height: 250px;
	float: right;
	width: 455px;
	text-align: center;
	padding-top: 35px;
}

footer {
	clear: both;
}